<%- include("header") -%>


<h1 style="color: black;">About This App</h1>

<p>
    This is a web app made using HTML, CSS, JavaScript and ExpressJS. 
    You can add your to do list and strike it off when done.
    There is a Work List as well where you can add your work. 
</p>




<%- include("footer") -%>